<section class="school">
<h2 class="main-title" align="center"> <i class="material-icons">school</i> Estudios</h2>
  <div class="timeline">
    <div class="container left" data-aos="fade-up-right">
      <div class="content" >
        <h2 class="title">2009 – 2012</h2>
        <p class="text top30">Preparatoria</p>
        <p class="text"> C.E.A.O – Guadalajara Jalisco</p>
      </div>
    </div>
    <div class="container right" data-aos="fade-up-left">
      <div class="content">
        <h2 class="title">2014 – 2018</h2>
        <p class="text top30">Ingeniería en Computación</p>
        <p class="text"> UTEG – Guadalajara Jalisco</p>
      </div>
    </div>
    <div class="container left" data-aos="fade-up-right">
        <div class="content">
          <h2 class="title">2015 – Actual</h2>
          <p class="text top30">Cursos</p>
          <p class="text"> Udemy </p>
        </div>
      </div>
      <div class="container right" data-aos="fade-up-left">
          <div class="content">
            <h2 class="title">2016 – Actual</h2>
            <p class="text top30">Cursos</p>
            <p class="text">Platzi</p>
          </div>
        </div>
  </div>
</section>