<section class="about" >
  <div class="info" data-aos="flip-up">
    <p class="text">
      Soy un amante de la tecnología, de los videojuegos y de la programación, desde pequeño me intereso la computación y a los
      12 años tomé mi primer curso de mantenimiento de PC's, a los 15 años empecé a programar en el lenguaje de C para poder
      crear mi primer videojuego, y poco después en html. Me encanta estudiar todo lo relacionado con la computación y las
      nuevas tecnologías, gracias a Internet he podido tomar una gran numero de cursos online y certificaciones.
    </p>
    <hr>
    <div class="button-container top30">
      <a href="https://1drv.ms/w/s!AmoeVwoyHFYHhmwEhvp_n-6jab30" target="_blank" class="btn success">Descargar CV </a>
      <button class="btn success" (click)="topFunction()" >Contáctame</button>
    </div>
  </div>

</section>