<section class="school">
  <h2 class="main-title" align="center"> <i class="material-icons">work</i> Trabajo</h2>
  <div class="timeline">
    <div class="container left" data-aos="fade-up-right">
      <div class="content">
        <h2 class="title">2015</h2>
        <p class="text top30">Ing. En sistemas Auto-Hogar</p>
        <p class="text">
          Daba mantenimiento a las computadoras, si alguna estaba descompuesta la reparaba, ayude a crear la página web, creaba videos
          para la empresa, entre otros pequeños encargos.
        </p>
      </div>
    </div>
    <div class="container right" data-aos="fade-up-left">
      <div class="content">
        <h2 class="title">2016</h2>
        <p class="text top30">Consultor Jr. Bis Soluciones</p>
        <p class="text">
          Creaba demos y prototipos de aplicaciones mobles mediante Ionic y Mobile Fisrst Platform. Desarrollo de aplicaciones hibridas
          con AngularJS
        </p>
      </div>
    </div>
    <div class="container left" data-aos="fade-up-right">
      <div class="content">
        <h2 class="title">2017 – Actual</h2>
        <p class="text top30">Desarrolador Semi Sr.</p>
        <p class="text">
          Desarrollo de aplicaciones web y móviles, sistemas administrativos y landing pages. Desarrollo de aplicaciones web con Angular2,4,5,6
          .Planeación de los proyectos
        </p>
      </div>
    </div>
    <div class="container right" data-aos="fade-up-left">
      <div class="content">
        <h2 class="title">2015 – Actual</h2>
        <p class="text top30">Desarrollador Full Stack FreeLancer</p>
        <p class="text">
          He trabajado para varias empresas como desarrollador freelancer para ayudarlas con el desarrollo de sus proyectos, en las
          empresas trabajo como desarrollador fullstack creando el Front-end y el Back-end. También he creado varias páginas
          web para algunas personas y una tienda virtual con Wordpress.
        </p>
      </div>
    </div>
  </div>
</section>